@* Popover component with arrow and positioning *@

<div class="relative inline-flex @ContainerClass">
    @* Trigger *@
    <div @onmouseenter="OnMouseEnter"
         @onmouseleave="OnMouseLeave"
         @onclick="OnTriggerClick"
         @onfocus="OnFocus"
         @onblur="OnBlur">
        @Trigger
    </div>

    @* Popover *@
    @if (IsOpen)
    {
        <div class="@GetPopoverClasses()">
            @* Arrow *@
            <div class="@GetArrowClasses()"></div>
            @* Content *@
            <div class="relative z-10">
                @ChildContent
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? Trigger { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsOpen { get; set; } = false;
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter] public string Position { get; set; } = "top"; // top, bottom, left, right
    [Parameter] public string TriggerMode { get; set; } = "hover"; // hover, click, focus
    [Parameter] public string? ContainerClass { get; set; }

    private System.Timers.Timer? _hideTimer;

    protected override void OnInitialized()
    {
        _hideTimer = new System.Timers.Timer(100);
        _hideTimer.AutoReset = false;
        _hideTimer.Elapsed += async (_, _) =>
        {
            await InvokeAsync(async () =>
            {
                IsOpen = false;
                await IsOpenChanged.InvokeAsync(false);
                StateHasChanged();
            });
        };
    }

    private async Task OnMouseEnter()
    {
        if (TriggerMode == "hover")
        {
            _hideTimer?.Stop();
            await Show();
        }
    }

    private async Task OnMouseLeave()
    {
        if (TriggerMode == "hover")
        {
            _hideTimer?.Start();
        }
    }

    private async Task OnTriggerClick()
    {
        if (TriggerMode == "click")
        {
            await Toggle();
        }
    }

    private async Task OnFocus()
    {
        if (TriggerMode == "focus")
        {
            await Show();
        }
    }

    private async Task OnBlur()
    {
        if (TriggerMode == "focus")
        {
            await Hide();
        }
    }

    private async Task Show()
    {
        IsOpen = true;
        await IsOpenChanged.InvokeAsync(true);
    }

    private async Task Hide()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(false);
    }

    private async Task Toggle()
    {
        IsOpen = !IsOpen;
        await IsOpenChanged.InvokeAsync(IsOpen);
    }

    private string GetPopoverClasses()
    {
        var positionClasses = Position switch
        {
            "bottom" => "top-full left-1/2 -translate-x-1/2 mt-2",
            "left" => "right-full top-1/2 -translate-y-1/2 mr-2",
            "right" => "left-full top-1/2 -translate-y-1/2 ml-2",
            _ => "bottom-full left-1/2 -translate-x-1/2 mb-2" // top (default)
        };

        return $"absolute z-50 {positionClasses} px-3 py-2 text-sm bg-gray-800 dark:bg-gray-700 text-white rounded-lg shadow-lg whitespace-nowrap";
    }

    private string GetArrowClasses()
    {
        var arrowPosition = Position switch
        {
            "bottom" => "absolute -top-1 left-1/2 -translate-x-1/2 border-l-4 border-r-4 border-b-4 border-l-transparent border-r-transparent border-b-gray-800 dark:border-b-gray-700",
            "left" => "absolute top-1/2 -right-1 -translate-y-1/2 border-t-4 border-b-4 border-l-4 border-t-transparent border-b-transparent border-l-gray-800 dark:border-l-gray-700",
            "right" => "absolute top-1/2 -left-1 -translate-y-1/2 border-t-4 border-b-4 border-r-4 border-t-transparent border-b-transparent border-r-gray-800 dark:border-r-gray-700",
            _ => "absolute -bottom-1 left-1/2 -translate-x-1/2 border-l-4 border-r-4 border-t-4 border-l-transparent border-r-transparent border-t-gray-800 dark:border-t-gray-700" // top (default)
        };

        return arrowPosition;
    }

    public void Dispose()
    {
        _hideTimer?.Dispose();
    }
}
