@* Product image overlay badge with optional icon *@

<div class="absolute @Position">
    <div class="inline-flex items-center text-xs font-medium text-gray-100 dark:text-gray-300 bg-gray-900/60 dark:bg-gray-800/60 rounded-full text-center px-2 py-0.5">
        @if (ShowIcon)
        {
            <svg class="w-3 h-3 shrink-0 fill-current text-yellow-500 mr-1" viewBox="0 0 12 12">
                <path d="M11.953 4.29a.5.5 0 00-.454-.292H6.14L6.984.62A.5.5 0 006.12.173l-6 7a.5.5 0 00.379.825h5.359l-.844 3.38a.5.5 0 00.864.445l6-7a.5.5 0 00.075-.534z" />
            </svg>
        }
        <span>@Text</span>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public string Text { get; set; } = "";
    [Parameter] public bool ShowIcon { get; set; } = true;
    [Parameter, EditorRequired] public string Position { get; set; } = "top-0 right-0 mt-4 mr-4";

}
