@using Microsoft.JSInterop
@inject IJSRuntime Js

<div class="relative inline-flex" @ref="_dropdownRef">
    <button @ref="_triggerRef"
            class="rounded-full @(_dropdownOpen ? "bg-gray-100 dark:bg-gray-700/60 text-gray-500 dark:text-gray-400" : "text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400")"
            aria-haspopup="true"
            @onclick="ToggleDropdown"
            @onclick:preventDefault
            aria-expanded="@_dropdownOpen">
        <span class="sr-only">Menu</span>
        <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
            <circle cx="16" cy="16" r="2"/>
            <circle cx="10" cy="16" r="2"/>
            <circle cx="22" cy="16" r="2"/>
        </svg>
    </button>
    <div class="origin-top-right z-10 absolute top-full min-w-36 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700/60 py-1.5 rounded-lg shadow-lg overflow-hidden mt-1 @(Align == "right" ? "right-0" : "left-0") @(_dropdownOpen ? "" : "hidden")">
        <ul @onfocusin="() => _dropdownOpen = true"
            @onfocusout="() => _dropdownOpen = false">
            @ChildContent
        </ul>
    </div>
</div>

@code {
    [Parameter] public string Align { get; set; } = "right";
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;

    private bool _dropdownOpen;
    private ElementReference _dropdownRef;
    private ElementReference _triggerRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("dropdownManager.initialize", _dropdownRef, _triggerRef, DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void CloseFromJS()
    {
        _dropdownOpen = false;
        StateHasChanged();
    }

    private void ToggleDropdown()
    {
        _dropdownOpen = !_dropdownOpen;
    }

}
