<div class="flex items-center after:block after:content-['·'] last:after:content-[''] after:text-sm after:text-gray-400 dark:after:text-gray-600 after:px-2">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
}
