<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="LocalNugetFeed" value="LocalNugetFeed" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="dotnet-library-packs" value="C:\Program Files\dotnet\library-packs" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
</packageSources>
<packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="FigletFontArt" versionRange="[1.0.0,)" />
        <package pattern="JetBrains.Annotations" versionRange="[2024.3.0,)" />
        <package pattern="Karambolo.PO" versionRange="[1.11.1,)" />
        <package pattern="Spectre.Console" versionRange="[0.49.1,)" />
        <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-public">
        <package pattern="System.CommandLine*" />
    </packageSource>
    <packageSource key="dotnet-experimental">
        <package pattern="System.CommandLine*" />
    </packageSource>
</packageSourceMapping>
<disabledPackageSources>
    <clear />
</disabledPackageSources>
</configuration>
