<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="saas-factory-labs-Saas-Factory" value="https://nuget.pkg.github.com/saas-factory-labs/Saas-Factory/index.json" />
	</packageSources>

	<packageSourceMapping>
<packageSource key="nuget.org">
    <package pattern="*" />
</packageSource>
		<packageSource key="saas-factory-labs-Saas-Factory">
			<package pattern="AppBlueprint.*" />
			<package pattern="SaaS-Factory.*" />
		</packageSource>
	</packageSourceMapping>

	<config>
		<add key="globalPackagesFolder" value="packages" />
	</config>

	<packageSourceCredentials>
		<saas-factory-labs-github>
			<add key="Username" value="saas-factory-labs" />
			<add key="ClearTextPassword" value="${GITHUB_PAT}" />
		</saas-factory-labs-github>
	</packageSourceCredentials>
</configuration>
