<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="trubador-github" value="https://nuget.pkg.github.com/Trubador/index.json" />
	</packageSources>

	<packageSourceMapping>
<packageSource key="nuget.org">
    <package pattern="*" />
</packageSource>
		<packageSource key="trubador-github">
			<package pattern="AppBlueprint.*" />
			<package pattern="SaaS-Factory.*" />
		</packageSource>
	</packageSourceMapping>

	<config>
		<add key="globalPackagesFolder" value="packages" />
	</config>

	<packageSourceCredentials>
		<trubador-github>
			<add key="Username" value="Trubador" />
			<add key="ClearTextPassword" value="${GITHUB_TRUBADOR_PAT}" />
		</trubador-github>
	</packageSourceCredentials>
</configuration>
