<li class="mr-6 last:mr-0 first:pl-4 sm:first:pl-6 lg:first:pl-8 last:pr-4 sm:last:pr-6 lg:last:pr-8">
    <a class="block pb-3 @(IsActive ? "text-violet-500 whitespace-nowrap border-b-2 border-violet-500" : "text-gray-500 dark:text-gray-400 hover:text-gray-600 dark:hover:text-gray-300 whitespace-nowrap")" href="#" @onclick="OnClick" @onclick:preventDefault>@Label</a>
</li>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = string.Empty;
    [Parameter] public bool IsActive { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}
