@using AppBlueprint.UiKit.Components.Cruip.NavigationMenu.Sidebar
<div class="navigationMenu">
    <LegacySidebar SidebarOpen="SidebarOpen" OnCloseSidebar="ToggleSidebar"/>
</div>

@code {
    [Parameter] public bool SidebarOpen { get; set; } // Make sure this value is passed from parent properly
    [Parameter] public EventCallback OnCloseSidebar { get; set; }

    private void ToggleSidebar()
    {
        SidebarOpen = !SidebarOpen;
        OnCloseSidebar.InvokeAsync(); // Notify parent to synchronize the state
    }

}