@page "/dashboard/analytics"

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

    <!-- Page header -->
    <div class="sm:flex sm:justify-between sm:items-center mb-8">

        <!-- Left: Title -->
        <div class="mb-4 sm:mb-0">
            <h1 class="text-2xl md:text-3xl text-gray-800 dark:text-gray-100 font-bold">Analytics</h1>
        </div>

        <!-- Right: Actions -->
        <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
            <!-- Date Range Picker -->
            <DateRangePicker Align="right" />
        </div>

    </div>

    <!-- Cards -->
    <div class="grid grid-cols-12 gap-6">

        <!-- Line chart (Analytics) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard01 />
        <!-- Line chart (Active Users Right Now) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard02 />
        <!-- Stacked bar chart (Acquisition Channels) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard03 />
        <!-- Horizontal bar chart (Audience Overview) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard04 />
        <!-- Report card (Top Channels) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard05 />
        <!-- Report card (Top Pages) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard06 />
        <!-- Report card (Top Countries) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard07 />
        <!-- Doughnut chart (Sessions By Device) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard08 />
        <!-- Doughnut chart (Visit By Age Category) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard09 />
        <!-- Pie chart (Sessions By Gender) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard10 />
        <!-- Table (Top Products) -->
        <MosaicPortal.Web.Components.Analytics.AnalyticsCard11 />

    </div>

</div>

@code {

}
