<li class="flex items-start">
    <a class="block mr-3 shrink-0" href="#0">
        <img class="rounded-full" src="@AvatarUrl" width="32" height="32" alt="@UserName" />
    </a>
    <div class="grow">
        <div class="text-sm font-semibold text-gray-800 dark:text-gray-100 mb-2">@UserName</div>
        <div class="italic">@CommentText</div>
    </div>
</li>

@code {
    [Parameter, EditorRequired] public string UserName { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string AvatarUrl { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string CommentText { get; set; } = string.Empty;
}
