@page "/utility/404"
@layout AppBlueprint.UiKit.Components.Layout.MainLayout

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

    <div class="max-w-2xl m-auto mt-16">

        <div class="text-center px-4">
            <div class="inline-flex mb-8">
                <!-- 404 Illustration -->
                <svg class="w-44 h-44" viewBox="0 0 176 176" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <circle fill="#E5E7EB" cx="88" cy="88" r="88" class="dark:fill-gray-700"/>
                        <path d="M88 24c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64 28.654-64 64-64z" fill="#F3F4F6" class="dark:fill-gray-800"/>
                        <g transform="translate(36 42)">
                            <rect fill="#9CA3AF" x="48" y="48" width="8" height="40" rx="4" class="dark:fill-gray-500"/>
                            <rect fill="#9CA3AF" x="68" y="60" width="8" height="28" rx="4" class="dark:fill-gray-500"/>
                            <rect fill="#9CA3AF" x="28" y="60" width="8" height="28" rx="4" class="dark:fill-gray-500"/>
                            <circle stroke="#6366F1" stroke-width="8" cx="52" cy="32" r="28" class="dark:stroke-violet-400"/>
                            <path d="M52 8v12M40 32H28M64 32h12M52 56V44" stroke="#6366F1" stroke-width="4" stroke-linecap="round" class="dark:stroke-violet-400"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="text-lg text-gray-600 dark:text-gray-400 mb-6">Hmm...this page doesn't exist. Try searching for something else!</div>
            <a href="/" class="btn bg-gray-900 text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white">Back To Dashboard</a>
        </div>

    </div>

</div>
