@inject NavigationManager Navigation

<li class="pl-4 pr-3 py-2 rounded-lg mb-0.5 last:mb-0 @(ActiveCondition ? "bg-[linear-gradient(135deg,var(--tw-gradient-stops))] from-violet-500/[0.12] dark:from-violet-500/[0.24] to-violet-500/[0.04]" : "")">
    @ChildContent(new Context { Expanded = expanded, HandleClick = ToggleExpanded })
</li>

@code {
    [Parameter]
    public bool ActiveCondition { get; set; }

    [Parameter]
    public RenderFragment<Context> ChildContent { get; set; } = default!;

    private bool expanded;

    protected override void OnInitialized()
    {
        expanded = ActiveCondition;
    }

    private void ToggleExpanded()
    {
        expanded = !expanded;
    }

    public class Context
    {
        public bool Expanded { get; set; }
        public Action HandleClick { get; set; } = default!;
    }
}
