<div class="mt-14 px-8" style="padding-top: 64px; height: calc(100vh - 64px); overflow-y: auto;">
    <div class="grid grid-cols-12 gap-6 justify-center">
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <DashboardCard ImageUrl="" Link="" Title="Title"
                           Body="Nulla ultrices lacus elit, imperdiet placerat ex lacinia sed. Sed sit amet arcu auctor, euismod ipsum eu, volutpat arcu"/>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <DashboardCard ImageUrl="" Link="" Title="Title"
                           Body="Nulla ultrices lacus elit, imperdiet placerat ex lacinia sed. Sed sit amet arcu auctor, euismod ipsum eu, volutpat arcu"/>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <DashboardCard ImageUrl="" Link="" Title="Title"
                           Body="Nulla ultrices lacus elit, imperdiet placerat ex lacinia sed. Sed sit amet arcu auctor, euismod ipsum eu, volutpat arcu"/>
        </div>
    </div>
</div>

@code {
    public int Spacing { get; set; } = 6;
}