<div class="flex flex-col col-span-full sm:col-span-6 xl:col-span-3 bg-white dark:bg-gray-800 shadow-xs rounded-xl">
    <div class="px-5 pt-5">
        <header>
            <h3 class="text-sm font-semibold text-gray-500 uppercase mb-1">
                <span class="text-gray-800 dark:text-gray-100">Google</span> - Alphabet
            </h3>
            <div class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-1">$2,860.96</div>
            <div class="text-sm">
                <span class="font-medium text-red-500">-$49 (4,7%)</span> - Today
            </div>
        </header>
    </div>
    <!-- Chart -->
    <div class="grow">
        <AppBlueprint.UiKit.Components.Charts.LineChart
            CanvasId="google-stock-chart"
            Height="98"
            Labels="@labels"
            Datasets="@datasets"
            ShowXAxis="false"
            ShowYAxis="false"
            UseTimeScale="false"
            ContainerClass="grow"/>
    </div>
</div>

@code {

    private List<string> labels = new()
    {
        "12-01-2022", "01-01-2023", "02-01-2023",
        "03-01-2023", "04-01-2023", "05-01-2023",
        "06-01-2023", "07-01-2023", "08-01-2023",
        "09-01-2023", "10-01-2023", "11-01-2023",
        "12-01-2023", "01-01-2024", "02-01-2024",
        "03-01-2024", "04-01-2024", "05-01-2024",
        "06-01-2024", "07-01-2024", "08-01-2024",
        "09-01-2024", "10-01-2024", "11-01-2024",
        "12-01-2024", "01-01-2025"
    };

    private List<AppBlueprint.UiKit.Components.Charts.LineChart.ChartDataset> datasets = new();

    protected override void OnInitialized()
    {
        datasets = new()
        {
            new AppBlueprint.UiKit.Components.Charts.LineChart.ChartDataset
            {
                Data = new List<double>
                {
                    732, 610, 610, 504, 504, 504, 349,
                    349, 504, 342, 504, 610, 391, 192,
                    154, 273, 191, 191, 126, 263, 349,
                    252, 323, 322, 270, 232
                },
                BorderColor = "rgb(244, 63, 94)", // rose-500
                BackgroundColor = "rgba(255, 86, 86, 0.1)", // custom red-500
                Fill = true,
                Tension = 0.2,
                PointRadius = 0,
                PointHoverRadius = 3,
                BorderWidth = 2
            }
        };
    }

}

