@page "/community/forum-post"
<div class="flex h-[100dvh] overflow-hidden">

    <!-- Sidebar -->
    <Sidebar @bind-SidebarOpen="sidebarOpen"/>

    <!-- Content area -->
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

        <!-- Site header -->
        <Header @bind-SidebarOpen="sidebarOpen"/>

        <main class="grow">
            <div class="px-4 sm:px-6 lg:px-8 py-8 md:py-0 w-full max-w-[96rem] mx-auto">

                <div class="xl:flex">

                    <!-- Left + Middle content -->
                    <div class="md:flex flex-1">

                        <!-- Left content -->
                        <ForumLeftContent/>

                        <!-- Middle content -->
                        <div class="flex-1 md:ml-8 xl:mx-4 2xl:mx-8">
                            <div class="md:py-8">

                                <!-- Forum entry -->
                                <ForumEntry/>

                            </div>
                        </div>

                    </div>

                    <!-- Right content -->
                    <ForumPostRightContent/>

                </div>

            </div>
        </main>

    </div>

</div>

@code {
    private bool sidebarOpen;
}
