@page "/logto-signout"
@inject NavigationManager Navigation

<PageTitle>Sign Out</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-8">
    <MudPaper Class="pa-8" Elevation="4">
        <div class="d-flex flex-column align-center">
            <MudText Typo="Typo.h4" Class="mb-2">Sign Out</MudText>
            <MudText Typo="Typo.body1" Color="Color.Default" Class="mb-6" Align="Align.Center">
                Are you sure you want to sign out?
            </MudText>

            <MudButton Variant="Variant.Filled" 
                       Color="Color.Primary" 
                       Size="Size.Large"
                       FullWidth="true"
                       OnClick="HandleSignOut">
                Sign Out
            </MudButton>

            <MudButton Variant="Variant.Text" 
                       Color="Color.Default"
                       Class="mt-2"
                       Href="/">
                Cancel
            </MudButton>
        </div>
    </MudPaper>
</MudContainer>

@code {
    private void HandleSignOut()
    {
        Console.WriteLine("[Logout] Sign out button clicked - navigating to /SignOut with forceLoad");
        // Force a full page load to trigger server-side signout
        Navigation.NavigateTo("/SignOut", forceLoad: true);
    }
}

