<div class="col-span-full xl:col-span-6 bg-white dark:bg-gray-800 shadow-xs rounded-xl">
    <header class="px-5 py-4 border-b border-gray-100 dark:border-gray-700/60">
        <h2 class="font-semibold text-gray-800 dark:text-gray-100">Recent Activity</h2>
    </header>
    <div class="p-3">

        <!-- Card content -->
        <!-- "Today" group -->
        <div>
            <header class="text-xs uppercase text-gray-400 dark:text-gray-500 bg-gray-50 dark:bg-gray-700/50 rounded-xs font-semibold p-2">Today</header>
            <ul class="my-1">
                <!-- Item -->
                <li class="flex px-2">
                    <div class="w-9 h-9 rounded-full shrink-0 bg-violet-500 my-2 mr-3 flex items-center justify-center">
                        <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16">
                            <path d="M8 0C3.6 0 0 3.1 0 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L8.9 12H8c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z" />
                        </svg>
                    </div>
                    <div class="grow flex items-center border-b border-gray-100 dark:border-gray-700/60 text-sm py-2">
                        <div class="grow flex justify-between">
                            <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Nick Mark</a> mentioned <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Sara Smith</a> in a new post</div>
                            <div class="shrink-0 self-end ml-2">
                                <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="#0">View<span class="hidden sm:inline"> -&gt;</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Item -->
                <li class="flex px-2">
                    <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3 flex items-center justify-center">
                        <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16">
                            <path d="M5 7h6v2H5V7zM4 3a2 2 0 00-2 2v6a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2H4z" />
                        </svg>
                    </div>
                    <div class="grow flex items-center border-b border-gray-100 dark:border-gray-700/60 text-sm py-2">
                        <div class="grow flex justify-between">
                            <div class="self-center">The post <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Post Name</a> was removed by <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Nick Mark</a></div>
                            <div class="shrink-0 self-end ml-2">
                                <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="#0">View<span class="hidden sm:inline"> -&gt;</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Item -->
                <li class="flex px-2">
                    <div class="w-9 h-9 rounded-full shrink-0 bg-green-500 my-2 mr-3 flex items-center justify-center">
                        <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16">
                            <path d="M4.3 4.5l4.2 4.2-4.2 4.2 1.4 1.4 4.2-4.2 4.2 4.2 1.4-1.4-4.2-4.2 4.2-4.2-1.4-1.4-4.2 4.2-4.2-4.2z" />
                        </svg>
                    </div>
                    <div class="grow flex items-center text-sm py-2">
                        <div class="grow flex justify-between">
                            <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Patrick Sullivan</a> published a new <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">post</a></div>
                            <div class="shrink-0 self-end ml-2">
                                <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="#0">View<span class="hidden sm:inline"> -&gt;</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- "Yesterday" group -->
        <div>
            <header class="text-xs uppercase text-gray-400 dark:text-gray-500 bg-gray-50 dark:bg-gray-700/50 rounded-xs font-semibold p-2">Yesterday</header>
            <ul class="my-1">
                <!-- Item -->
                <li class="flex px-2">
                    <div class="w-9 h-9 rounded-full shrink-0 bg-sky-500 my-2 mr-3 flex items-center justify-center">
                        <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16">
                            <path d="M5 9l3-3 3 3M5 5l3-3 3 3" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" />
                        </svg>
                    </div>
                    <div class="grow flex items-center border-b border-gray-100 dark:border-gray-700/60 text-sm py-2">
                        <div class="grow flex justify-between">
                            <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">240+</a> users have subscribed to <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Newsletter #1</a></div>
                            <div class="shrink-0 self-end ml-2">
                                <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="#0">View<span class="hidden sm:inline"> -&gt;</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Item -->
                <li class="flex px-2">
                    <div class="w-9 h-9 rounded-full shrink-0 bg-violet-500 my-2 mr-3 flex items-center justify-center">
                        <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 16 16">
                            <path d="M8 0C3.6 0 0 3.1 0 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L8.9 12H8c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z" />
                        </svg>
                    </div>
                    <div class="grow flex items-center text-sm py-2">
                        <div class="grow flex justify-between">
                            <div class="self-center">The post <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Post Name</a> was suspended by <a class="font-medium text-gray-800 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white" href="#0">Nick Mark</a></div>
                            <div class="shrink-0 self-end ml-2">
                                <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="#0">View<span class="hidden sm:inline"> -&gt;</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

@code {

}
