@namespace AppBlueprint.UiKit.Components.Analytics.Cruip.AnalyticsCard11Components

<div class="shrink-0 rounded-full mr-2 sm:mr-3 @ColorClass w-9 h-9 flex items-center justify-center">
    <svg class="w-5 h-5 fill-current @IconTextColor" viewBox="0 0 36 36">
        <path d="@SvgPath" />
    </svg>
</div>

@code {
    [Parameter, EditorRequired]
    public required string ColorClass { get; set; }

    [Parameter, EditorRequired]
    public required string IconTextColor { get; set; }

    [Parameter, EditorRequired]
    public required string SvgPath { get; set; }
}
