@page "/apps/documentation"

<PageTitle>Apps Documentation</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Documentation</h1>

<h2 class="text-xl font-semibold text-gray-700 dark:text-gray-300 mb-4">Automated Documentation</h2>

</div>
