@page "/apps/infrastructure"

<PageTitle>Apps Infrastructure</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Infrastructure</h1>

</div>
