@using DeploymentManager.Web.Components.Layout
@using MudBlazor
@inherits LayoutComponentBase

@page "/"
@layout MainLayout


<PageTitle>Dashboard</PageTitle>

<h1 class="">Dashboard </h1>

<MudCard class="py-4">
    <MudCardContent>
        <MudText>File Discovery App</MudText>
        <MudText Typo="Typo.body2">Search across every file in an instant.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Change configuration</MudButton>
    </MudCardActions>
</MudCard>