@page "/dependency-map"

<PageTitle>Dependency Map</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Dependency Map</h1>

<div class="bg-white dark:bg-gray-800 border border-gray-100 dark:border-gray-700/60 shadow-xs rounded-xl p-5 my-8 h-[900px] w-full text-gray-600 dark:text-gray-300">
    <p>Blazor.Diagram Diagram of Dependencies between Shared infrastructure and Deployed SaaS apps</p>

    <p>Blazor.Diagram Diagram of Dependencies between classes and methods in a c# project fx boligportal - by reading a
        json file with the relationship data </p>
</div>

</div>
