@page "/dependency-map"
@using MudBlazor

<PageTitle> Apps.DependencyMap</PageTitle>

<h1>Dependency Map</h1>


<MudPaper Height="900px" Width="100%" class="my-8">
    <p>Blazor.Diagram Diagram of Dependencies between Shared infrastructure and Deployed SaaS apps</p>

    <p>Blazor.Diagram Diagram of Dependencies between classes and methods in a c# project fx boligportal - by reading a
        json file with the relationship data </p>


    @* <MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary"></MudPaper>
    </MudContainer> *@
</MudPaper>