@page "/deployment-manager/settings"
@using MudBlazor

<PageTitle>Deployment Manager Settings</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Deployment Manager Settings</h1>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="TextValue" Label="Set CPU Max DTU per App Production Environment"
                      Variant="Variant.Text"></MudTextField>
    </MudItem>
</MudGrid>

</div>

@code {

    public string TextValue { get; set; }


    private bool _hidePosition;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
    }

}
