.diagram-container {
    flex-grow: 1;
    position: relative;
    background-color: black;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 20px 20px; /* Controls the spacing between dots */
    width: 100%;
    height: 2400px; /* Set height explicitly to 2400px */
    overflow: hidden;
}
