@inherits LayoutComponentBase

<div class="min-h-screen bg-brand-dark">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet class="hidden">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
