<div class="bg-gray-50 dark:bg-gray-800 h-20 sm:h-28 lg:h-36">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <rect width="100%" height="100%" fill="url(#stripes)"/>
    </svg>
</div>

@code {
    // Empty cell with diagonal stripes pattern
}
